<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @meal.day %>
</p>

<p>
  <strong>Lunch:</strong>
  <%= @meal.lunch %>
</p>

<p>
  <strong>Dinner:</strong>
  <%= @meal.dinner %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
